{% load static %}
{% for subtopic in subtopics %}
<tr>
    <td>{{forloop.counter0|add:subtopics.start_index}}</td>
    <td>{{ subtopic.name }}</td>
    <td>{{ subtopic.topic.subject.course.name }}</td>
    <td>{{ subtopic.topic.subject.name }}</td>
    <td>{{ subtopic.topic.name }}</td>
    <td>{{ subtopic.lessons }}</td>
    <td>{{ subtopic.objectives }}</td>
    <td>{{ subtopic.is_active }}</td>
    <td>
        <a href="javascript:;" class="subtopic-edit" id="subtopic-edit" data-fancybox="" data-src="#subtopic-popup"
            data-url="{% url 'appswift:update_subtopic' subtopic.id %}">
            <img src="{% static '/swift/assets/images/edt_icon.svg' %}" alt="icon">
        </a>
        <a href="javascript:;" onclick="DeleteSubtopic({{subtopic.id}})">
            <img src="{% static '/swift/assets/images/dlt_icon.svg' %}" alt="icon">
        </a>
    </td>
<tr>
    {% empty %}
<tr>
    <td colspan="5">No results found.</td>
</tr>
{% endfor %}